.vscode
.pytest_cache
venv
app/__pycache__
app/routes/__pycache__
app/utils/__pycache__
app/schemas/__pycache__
app/models/__pycache__
app/operations/__pycache__
tests/__pycache__
test.db
expenses.db
.DS_Store
